<!doctype html>
<html>
    <head>
        <title>FSHS Robotics</title>
        <meta name="google-site-verification" content="4_RMTp03qKZnXNroL0gme91C1A0V24nC9np8xE_GRt4" />
        <link rel="icon" type="image/png" href="/theme/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#4060fa" />
        <link type="text/css" rel="stylesheet" href="/theme/robobase.css"/>
        <link type="text/css" rel="stylesheet" href="/theme/2018base.css"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:400,900|PT+Mono">
    </head>

<body>
    <div id="nav">
        <ul class="nav-transparent">
            <li class="nav-transparent__link"><a href="/about">About</a></li>
            <li class="nav-transparent__link"><a href="/awards">Awards</a></li>
                <li class="nav-transparent__link"><a href="/resources">Resources</a></li>
                <li class="nav-transparent__link"><a href="/equipment">Admin</a></li>
        </ul>
    </div>
	<div class="section home-intro">
		<div class="home-intro-container">
			<h1>FSHS Robotics</h1>
			<span class="home-intro-motto">Our next generation of engineers.</span>
		</div>
		<video preload="true" autoplay loop muted class="home-fullscreen-bg" poster="data:image/gif,AAAA">
			<source src="file/reel.mp4" type="video/mp4">
		</video>
	</div>
	<div class="section">
		<div class="section-container">
			<blockquote>We are a student run club dedicated to experiencing the rapidly evolving fields of mechanical, software and electrical engineering.</blockquote>
			<div class="heading-decorator"></div>
		</div>
	</div>
	<div class="section section-light">
		<div class="section-container">
			<h2 class="heading-centered">HIGHLIGHTS</h2>
			<div class="home-youtubes">
				<iframe src="https://www.youtube.com/embed/LPjUh85LuEg?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
				<iframe src="https://www.youtube.com/embed/48HT363pmOs?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="section home-section-passion">
		<div class="section-container">
			<h2><span class="home-highlight">Innovation</span><br/>
				in<br/>
				design</h2>
			<a href="/awards/" class="button">View our achievements</a>
		</div>
	</div>
	<div class="section home-section-sponsors">
		<div class="section-container">
			<h2 class="heading-centered">Sponsored by</h2>
			<div class="sponsors">
				<a class="sponsor-image" href="https://www.pcbway.com/sponsor.html"><img src="theme/pcbway.png"/></a>
				<a class="sponsor-image" href="http://www.calm-aluminium.com.au"><img src="theme/Calm Aluminium.png"/></a>
				<a class="sponsor-image" href="https://ultimaker.com"><img src="theme/Ultimaker.png"/></a>
				<a class="sponsor-image" href="https://www.maxonmotor.com.au"><img src="theme/maxonmotor.png"/></a>
				<a class="sponsor-image" href="https://openmv.io"><img src="theme/openmv.png"/></a>
				<a class="sponsor-image" href="https://www.pakronics.com.au/"><img src="theme/paktronics.png" /></a>
			</div>
			<div style="text-align:center;margin-top:20px"><a href="mailto:fshsrobotics@gmail.com" class="button">Contact us</a></div>
		</div>
	</div>
	<div id="mainFooter">
	<p>&copy; Fort Street High School Robotics</p>
	</div>
</body>
</html>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>