{% extends "base.html" %}
{% block breadcrumbs %}
{% if page.breadcrumbs %}
{% set taglist = page.breadcrumbs.split(';') %}
{% for tag in taglist %}
{% set tagcomps = tag.split(':') %}
<li><a href="{{ tagcomps[0] }}">{{ tagcomps[1] }}</a></li>
{% endfor %}
{% endif %}
{%endblock%}
{% block subtitle %}{% if page.subtitle %}{{ page.subtitle }}{% endif %}{% endblock %}
{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if 'tutorial' in page.type %}
    <div class="wiki" id="content_view" style="display: block;">
    <div class="learn-wrapper">
    <div class="hero full-width">
    <h3>FSHS Robotics C Course</h3>
    <h1>{{page.title}}</h1>
    </div>
    <div class="learn-contents-text" style="grid-column:1 / 4;grid-row:2/3">
    {% endif %}
    {{ page.content }}
    {% if 'tutorial' in page.type %}
    </div></div></div>
    {% endif %}
{% endblock %}