{% extends "base.html" %}
{% block breadcrumbs %}
{% if page.breadcrumbs %}
{% set taglist = page.breadcrumbs.split(';') %}
{% for tag in taglist %}
{% set tagcomps = tag.split(':') %}
<li><a href="{{ tagcomps[0] }}">{{ tagcomps[1] }}</a></li>
{% endfor %}
{% endif %}
{%endblock%}
{% block subtitle %}{% if page.subtitle %}{{ page.subtitle }}{% endif %}{% endblock %}
{% block content %}
    {% if 'tutorial' in page.type %}

    <div class="wiki" id="content_view" style="display: block;">
    <div class="learn-wrapper">
    <div class="hero full-width">
    {% if page.back %}
    {% set back = page.back.split(':') %}
    <a class="hero-back" href="{{back[0]}}">{{back[1]}}</a>
    {% endif %}
    <h3>FSHS Robotics C Course</h3>
    <h1>{{page.title}}</h1>
    </div>
    
    {% if page.tutorialtype %}
        <div class="learn-contents-nav">
        {% if page.tutoriallinks %}
        {% for pg in page.tutoriallinks.split('||') %}
            {% set tutlinkscomps = pg.split(',') %}
            {% if tutlinkscomps[2] == 'c' %}
                <a href="{{tutlinkscomps[0]}}" class="completed">{{tutlinkscomps[1]}}</a>
            {% elif tutlinkscomps[2] == 'a' %}
                <a href="{{tutlinkscomps[0]}}" class="selected">{{tutlinkscomps[1]}}</a>
            {% else %}
                <a href="{{tutlinkscomps[0]}}" class="">{{tutlinkscomps[1]}}</a>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    {% endif %}
    <div class="learn-contents-text" {% if page.fullwidth %}style="grid-column: 1/4"{% endif %}>
    {% endif %}
    {{ page.content }}
    {% if 'tutorial' in page.type %}
    </div>
    {% if page.previous %}
        {% set previous = page.previous.split(':') %}
        {% set next = page.next.split(':') %}
        <div class="learn-contents-navigate full-width">
            <a class="previous" href="{{ previous[0] }}">{{ previous[1] }}</a>
            <a class="next" href="{{next[0]}}">{{next[1]}}</a>
            <div class="separator"></div>
        </div>
    {% endif %}
    </div>
    {% endif %}
{% endblock %}