/* Home */
html {
	height:100%;
}
body {
    font-family: var(--font-family), serif;
    margin: 0;
    padding: 0;
    min-height:100%;
    padding-bottom:107px;
    position:absolute;
}
* {
    box-sizing: border-box;
}
:root {
    --font-family: 'Raleway';
    --font-size-header: 84px;
    --main-light-blue: #e5eafe;
    --main-blue: #4060fa;
    --main-slightly-dark-blue: #0522ae;
    --main-gray: #1f2534;
    --main-dark-blue: #081233;
    --main-white: #FFF;
    --width-max-large: 1080px;
    --width-max-medium: 840px;
}
::selection {
    background: #d9e1f9;
}
::-moz-selection {
    background: #d9e1f9;
}

/* Headings */
h2 {
    color: var(--main-blue);
    font-size: 48px;
    font-weight: 800;
}
.heading-decorator {
    display:block;
}
.heading-centered {
    text-align:center;
}
.heading-decorator::before {
    background: var(--main-blue);
    content: ' ';
    display: inline-block;
    height: 6px;
    width: 100px;
    margin-bottom:10px;
}

/* Home */
.home-intro {
    color: var(--main-white);
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.home-intro-container::before {
    background: rgba(64, 96, 250, 0.7);
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.home-intro-container {
    height: 100%;
    margin: 30px auto;
    max-width: var(--width-max-large);
    padding: 100px 0;
    width: 100%;
    z-index: 1;
}
.home-intro-container h1 {
    background: rgba(64, 96, 250, 0.7);
    display: inline-block;
    font-size: var(--font-size-header);
    font-weight: 800;
    padding: 10px;
    text-transform: uppercase;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-fill-mode: both;
}
.home-intro-container span::before {
    content: ' ';
    display: block;
}
.home-intro-container span {
    display:inline-block;
    font-size: 30px;
    line-height: 180%;
    padding: 0 10px;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    animation-fill-mode: both;
}
.home-intro .home-fullscreen-bg {
    background: url('https://i.imgur.com/5AwvtMG.jpg') no-repeat;
    background-size: 100%;
    background-position: 0 100%;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
    z-index: -10;
}
.home-youtubes {
    text-align:center;
}
.home-youtubes iframe {
    height:300px;
    width:45%;
}
.home-section-passion {
    background: url('/theme/robot-small.png') no-repeat;
    background-size:auto 130%;
    background-position:100px center;
    transition:all 0.7s ease-in-out;
    text-align:right;
}
.home-section-passion .button {
    border-color:#fe4a42;
    color:#fe4a42;
    margin-right: 100px;
    z-index:10;
}
.home-section-passion .button::before {
    background:#fe4a42;
}
.home-section-passion:hover {
    background-size:auto 145%;
    background-position:80px center;
}
.home-section-passion h2 {
    color:var(--main-dark-blue);
    font-size:64px;
    line-height:.78em;
    margin:100px 100px 100px 0;
    text-align:right;
    text-transform:uppercase;
}
.home-section-passion img.home-image {
    height:180px;
    margin:-30px 0 0 100px;
    float:left;
    top:0;
}
.home-section-passion .home-highlight {
    color:#fe4a42;
}
.sponsors {
    text-align:center;
}
.sponsors a {
    display:inline-block;
    vertical-align:middle;
    transition:all 0.3s ease;
    transform:scale(1);
}
.sponsors a:hover {
    transform:scale(1.3);
}
.sponsors .sponsor-image img {
    margin:30px;
    width:130px;
}

/* Navigation */
#nav {
    display: block;
    right:20px;
    position:absolute;
    top:20px;
    z-index:10;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    visibility: visible !important;
    animation-fill-mode: both;
}
.non-home #nav {
    animation-name: none;
}
#nav ul {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}
#nav li {
    display: inline-block;
    margin-left:10px;
}
#nav li a {
    display:block;
    text-decoration: none;
    color: var(--main-white);
    font-size: 16px;
    padding: 18px 30px;
    position:relative;
    transition: color 0.3s ease;
}
#nav li a:hover {
    color:var(--main-blue);
}
#nav li a:before {
    content: "";
    position: absolute;
    width: 0%;
    height:100%;
    top:0;
    left: 0;
    background-color: var(--main-white);
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    z-index:-1;
}
#nav li a:hover:before {
    visibility: visible;
    width:100%;
}

.header-2018 {
    background:url('https://i.imgur.com/5AwvtMG.jpg') no-repeat;
    background-position:center center;
    height:100px;
    position:relative;
}
.header-2018::before {
    background:rgba(64, 96, 250, 0.7);
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    content:' ';
}
.header-2018 h2 {
    margin:0;
    z-index:2;
    margin:28px 0 0 20px;
    position:absolute;
    font-size:24px;
    text-transform:uppercase;
}
.header-2018 h2 a {
    background:var(--main-blue);
    color:var(--main-white);
    display:block;
    padding:10px;
    text-decoration:none;
    transition:0.4s ease all;
}
.header-2018 h2 a:hover {
    background:rgba(6, 43, 223, 0.6);
}
.c-course-header {
    margin: 10px 10px -30px 10px;
}
.c-course-header a {
    border:3px solid var(--main-blue);
    border-radius:4px;
    color:var(--main-blue);
    display:inline-block;
    padding:5px 7px;
    text-decoration:none;
    transition:0.3s ease all;
}
.c-course-header a:hover {
    background:#0e37f9;
    color:var(--main-white);
}

/* Main containers */
.section {
    padding: 20px 0 50px 0;
}
.section-light {
    background: var(--main-light-blue);
}
.section-container {
    margin: 0 auto;
    max-width: var(--width-max-large);
    padding:0 20px;
    position:relative;
}

/* Quote */
blockquote {
    font-family: 'Open Sans';
    font-size: 40px;
    margin-left: 0;
}
blockquote:before {
    color: #ccc;
    font-size: 4em;
    float:left;
    margin: 0.2em 0.2em 0 0;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
blockquote.blockquote-right {
    float: right;
    max-width: 70%;
    text-align:right;
    font-size:32px;
}
blockquote .blockquote-mini {
    color:#888;
    font-size:18px;
    line-height:180%;
}

/* Buttons */
.button {
    border:2px solid var(--main-blue);
    color:var(--main-blue);
    cursor:pointer;
    display:inline-block;
    font-family:'Open Sans';
    font-weight:bold;
    padding:12px 8px;
    position:relative;
    text-decoration:none;
    transition:0.3s ease all;
}
.button::before {
    background: var(--main-blue);
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.button:hover,
.button:focus {
    color:var(--main-white);
}
.button:hover::before,
.button:focus::before {
    width:100%;
}

/* Media queries */
@media only screen and (max-width: 1100px) {
    .header-2018 {
        padding:10px;
        position:relative;
        text-align:center;
        height:auto;
    }
    .header-2018 h2 {
        display:inline-block;
        margin:10px 10px 20px;
        position:relative;
    }
    .header-2018 #nav {
        top:0;
        position:relative;
    }
    #nav {
        display:block;
        right:0;
        margin-bottom:10px;
        text-align:center;
        width:100%;
    }
    .home-intro {
        height:400px;
    }
    .section-container,
    .home-intro-container {
        max-width: var(--width-max-medium);
    }
    .home-intro-container {
        padding:30px 0;
        text-align:center;
    }
    .home-intro-container h1 {
        font-size:56px;
    }
    .home-section-passion {
        position:relative;
        text-align:center;
    }
    .home-section-passion::before {
        background:rgba(255, 255, 255, 0.7);
        bottom:0;
        content: ' ';
        height:100%;
        left:0;
        position:absolute;
        top:0;
        width:100%;
    }
    .home-section-passion h2 {
        font-size:48px;
        margin-right:0;
    }
    .home-section-passion .button {
        margin-right:0;
    }
}
@media only screen and (max-width: 640px) {
    #nav ul li a {
        padding: 10px;
    }
    .section-container,
    .home-intro-container {
        padding:20px;
    }
    .home-intro-container h1 {
        font-size:48px;
    }
    .home-intro-container span {
        font-size:24px;
    }
    blockquote {
        font-size: 24px;
    }
    .home-youtubes iframe {
        display:block;
        width:100%;
        height:50vw;
        margin-bottom:10px;
    }
}

/* Animations */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }   
}
@keyframes slideDown {
    0% {
        opacity: 1;
        transform: translateY(-130%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }   
}